@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 2rem;
  font-size: 45px;
  text-align: center;
}

h3 {
  padding: 1.5rem;
}

li {
  list-style: none;
}
